/* CSS */
@keyframes blink {
    0% {
        opacity: 0.1;
    }
    15% {
        opacity: 0.3;
    }
    30% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.8;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.blinking-text {
    animation: blink 4s infinite;
}
